<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Checkout</title>
    <style>
        body{
            width:970px;
            margin-left:auto;
            margin-right:auto;
        }
    </style>
</head>
<body>
    <h1>Thank you for your business!</h1>
    <p>We charged your credit card for ${{request.session.list.price}}</p>
    <p>You have ordered {{request.session.list.counter}} items so far and spent ${{request.session.list.sum}} with Amadon.com!</p>
    <p><a href="/store/">Go Back</a> <a href="/store/reset/">Empty Your Cart</a></p>
    
</body>
</html>